@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.header {
  /* min-height: 40px; */
  /* height: 40px; */
  /* padding: 0 8px; */
  /* background-color: #bcfec1; */
  /* background: red !important; */
  /* background-color: #ffffffcc !important; */
  background: #ffffffe9;
  box-shadow: 0px 3px 3px #5959593d;
  /* background: linear-gradient(#ffffff 0%, #bec0c9); */
  /* background: linear-gradient(#49484d 0%, #2e2e30); */
}
.footer {
  background: #ffffffe9;
  /* box-shadow: 0px 3px 3px #5959593d; */
}

html {
  background-color: #9f8ad8;
}

body {
  margin: 0;
  /* background-color: black; */
  /* color: #ffffff; */
  background: radial-gradient(1200px circle at -500px -500px, #8860d0 50%, transparent 100%),
    radial-gradient(500px circle at 800px -200px, #8860d0 0, transparent 100%),
    radial-gradient(1500px circle at 2200px 400px, #8860d0 60%, transparent 95%),
    radial-gradient(600px circle at 900px 100px, #c1c8e4 30%, transparent 100%),
    radial-gradient(400px circle at 800px 500px, #5ab9ea 0, transparent 50%),
    radial-gradient(400px circle at 700px 600px, #84ceeb 0, transparent 100%),
    radial-gradient(900px circle at 800px 1200px, #8860d0 0, transparent 100%),
    radial-gradient(800px circle at 200px 500px, #84ceeb 0, transparent 30%),
    radial-gradient(900px circle at 1200px 100px, #c1c8e4 50%, transparent 100%),
    radial-gradient(1100px circle at 0px 500px, #c1c8e4 0, transparent 100%),
    /* radial-gradient(600px circle at -300px 800px, #c1c8e4 99.8%, transparent 100%), */
      radial-gradient(2000px circle at 1200px 2500px, #5680e9 0, transparent 100%);
  background-color: #5ab9ea;
}

.background {
  min-height: 90vh;
  text-align: center;
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(14.5px); */
}

.container {
  min-height: 75vh;
  /* padding: 1em; */
}

.glass {
  margin: 1em auto;
  /* box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3); */
  /* background: rgba(255, 255, 255, 0.446); */
  /* background: red; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.9);
  /* backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-solid {
  /* background: #18181895; */
  /* background: #fffffff1; */
  /* background: white; */
  border-radius: 10px;
}

.solar {
  width: 600px;
  height: 600px;
  position: 'absolute';
  background-color: transparent;
  border-radius: 100%;
  box-shadow: 10px 5px 25px #c1c8e4;
}

.socials {
  float: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
